/* --- 배경이미지 부착방법 background-attachment: scroll, fixed */
body {
    /* background-image: url(../images/hello_img.gif);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed; */
    
    /* 한줄로 모든 속성을 정의한다. */
    /* background : 색상 이미지경로 반복위치 스크롤여부; */
    background: url(../images/hello_img.gif) no-repeat right top fixed;
    background-size: 300px;                             /*사이즈는 이미지 다음에 위치해야 한다.*/
}
/* -----linear-gradient -----*/
.linear>p {
    width: 200px;
    height: 100px;
    border: 1px solid red;
    display: inline-block;    /* 옆으로 배열 */
    vertical-align: top;      /*박스를 위로 맞춤 */
}
/* 색상만 지정하면 색상변환점 자동으로 배분 */
.linear>p:nth-child(1) {
    background-image: linear-gradient(red, yellow);
}
/* 각도 : "deg"단위 지정:  - ~ +까지 지정가능 =- 예 -10deg, 45deg */
.linear>p:nth-child(2) {
    background-image: linear-gradient(45deg,red, yellow,green);
}
/* 카워드 : top, bottom, left, right로 to top right와 같이 상하 방향과 좌우 방향을 조합하여 사용 */
.linear>p:nth-child(3) {
    background-image: linear-gradient(to left,red, yellow,green);
}
/* 각도 45도 / 원하는 색상변환점 80% */
.linear>p:nth-child(4) {
    background-image: linear-gradient(45deg,red 60%, yellow 30%,green);
}

/* -----radial-gradient: 형식 radial-gradient( [shape] [size] [position], [color-stop] ) -----*/
.radial>p {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid red;
    vertical-align: top;
    margin-right: 10px;
    border-radius: 100px;
}
/* radial-gradient(circe,색상1, 색상n) */
.radial>p:nth-child(1) {
    background-image: radial-gradient(white , red);
}
/* radial-gradient(circe at size size) */
.radial>p:nth-child(2) {
    background-image: radial-gradient(circle at 30px 80px, white , red);
}

/* .radial>p {
    width: 150px;
    height: 200px;
    display: inline-block;
    border: 1px solid red;
    vertical-align: top;
    margin-right: 10px;
    border-radius: 2000px;
}
.radial>p:nth-child(1) {
    background-image: radial-gradient(ellipse,white , red);
}
.radial>p:nth-child(2) {
    background-image: radial-gradient(ellipse at 30px 80px, white , red);
} */

/* ----배경이미지 설정 - 반복여부 image-repeat:no-repeat, repeat-x, repeat y------ */
.repeat>span {
    width: 200px;
    height: 200px;
    background-image: url(../images/repeat_img.png);
    display: inline-block;
    border: 1px solid red;
}
.repeat>span:nth-child(1) {
    background-repeat: repeat;
}
.repeat>span:nth-child(2) {
    background-repeat: no-repeat;
}
.repeat>span:nth-child(3) {
    background-repeat: repeat-x;
}
.repeat>span:nth-child(4) {
    background-repeat: repeat-y;
}
/* ---- 배경이미지 위치 설정하기 background-position: left ccenter, right bottom, 50% 50% ---*/
.position>p {
    width: 200px;
    height: 200px;
    background-image: url(../images/positionimg.jpg);
    border: 1px solid red;
    display: inline-block;
    background-size: 100px;
    background-repeat: no-repeat;
}
.position>p:nth-child(1) {
    background-position: left center;
}
.position>p:nth-child(2) {
    background-position: right bottom;
}
.position>p:nth-child(3) {
    background-position: 50% 50%;
}
.position>p:nth-child(4) {
    background-position: 0% 100%;
}

/* --- 배경이미지 크기 설정하기: px, %, cover, contain --- */
.size {
    padding: 0;
}

.size>li {
    list-style: none;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    display: inline-block;
    background-image: url(../images/winterimag.jpg);
    vertical-align: top;
    background-repeat: no-repeat;
}
.size>li:nth-child(1) {
    background-size:100px;
}
.size>li:nth-child(2) {
    background-size: 40% 60%;
}
.size>li:nth-child(3) {
    background-size: cover;
}
.size>li:nth-child(4) {
    background-size: contain;
}
