
/*-----박스의 테두리: 색, 16진수, rgb, rgba ----*/
.border>li {
    margin-bottom: 10px;
    /* width: 200px;
    height: 200px;
    border-style: solid;
    border-color: red;
    display: inline-block;
    vertical-align: top; */
}
.border>li:nth-child(1) {
    border-style: dashed;
    border-color: red;
    border-width: 3px 5px 1px 10px;
}
.border>li:nth-child(2) {
    border-style: dotted solid;
    border-color: #4a4a4a;
    border-width: thin medium thick;
}
.border>li:nth-child(3) {
    border-style: dotted solid double;
    border-color: rgb(25, 228, 255);
}
.border>li:nth-child(4) {
    /* border-style: dotted solid double dashed;
    border-color: rgba(25,220,255,0.3); */
    
    border: 1px solid red;
}
/* ---border-radius : 둥근 모서리--- */
.radius>li {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 2px solid red;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
}
.radius>li:nth-child(1) {
    border-radius: 20px 10px 30px 40px;
}
.radius>li:nth-child(3) {
    border-radius: 70px;     /* 2 + 10 + 100 + 10 + 2  */
}

/*--- box-shadow 박스 그림자: 가로오프셋(x), 세로오프셋(y), 번지는 정도, 그림자색 */
.shadow {         /*바깥쪽 그림자 */
    width: 200px;
    height: 70px;
    border: 1px solid #010101;
    background-color: #ff0;
    box-shadow: 20px 10px 10px #666;
}
.inset {        /*안쪽 그림자 */
    width: 200px;
    height: 70px;
    border: 1px solid #010101;
    background-color: #edd0ed;
    box-shadow: inset 0px 0px 10px 20px #876a87;
}
/* --- box-sizing : 박스의 크기를 결정하는 방식--- */
.content {
    width: 200px;
    padding: 10px;
    border:5px solid red;
    margin: 20px;
}
.borderbox {
    width: 200px;
    padding: 10px;
    border:5px solid red;
    margin: 20px;
    box-sizing: border-box;
}
