/* --- float --- */
/* float left: 가로사이즈(width)를 주지 않으면 요소가 차지하는 크기만큼만 차지하며 옆으로 나열된다. */
div.box {
    border: 1px solid red;
    float:left;
    width: 50%;
    box-sizing: border-box;  /* 박스 사이즈 자동조절 */
    text-align: center;
}
/* --- clear: 위 float 상속태그를 끊기위함, 그렇지 않으면 야래 wrapper에서 마진 속성이 적용안됨 */
/* 일반적으로 clear:left right를 사용하지 않고, clear:both를 사용한다. */
.clear {
    clear: both;
}

#wrapper {
    margin-top: 30px;
    width: 550px;
    font: 12px 굴림;
}
#wrapper p {
    text-align: justify;
}
.skate {
    width: 180px;
    background-color: antiquewhite;
    float: left;
}
.football {
    width: 290px;
    background-color: rgb(194,234,241);
    float: right;
}
.olympic {
    clear: both;           
    background-color: aquamarine;
}