/* ---박스 안의 내용이 박스보다 클 경우 넘치는 부분을 처리하는 속성: visible,hidden,auto,scroll  */
div {
    width: 300px;
    height: 300px;
    border: 1px solid blue;
    margin-left: 10px;
    float: left;
}
.one {
    overflow:visible ;
}
.two {
    overflow:hidden ;
}

.three>p {             /* 가로바 동작 예제를 만들기 위해서 p태크 생성 */
    width: 300px;
}
.three {
    overflow:auto ;     /* overflow:auto 가로바 세로바 생성됨 */
}
.four {
    overflow:scroll ;
}