/* ---opcity 속성: 투명도 - 투명도는 실수 0.0에서 1.0을 사용해서 저장 */
img {
    width: 200px;
}
.img1:hover {
    opacity: 0.5;
    cursor: pointer;
}
/* visibile(기본값), hidden: 가시성이란 어떤 요소를 보이거나 안보이게 하는 것이다 */
.img2, .img3 {
    border: 1px solid red;
}
.img2 {
    /* visibility: hidden; */       /*visibility:hidden은 기존 이미지(img2) 영역은 삭제하지 않고 유지 */
    display: none;                  /*display:none:화면에서 해당 이미지(img2) 영역을 삭제하고 표시 */
}

