/* -----overflow-wrap: break-word -------------*/
.wrap {
    width: 200px;
    border: 1px solid red;
    overflow-wrap: break-word;
}

/* -----white-space: pre, nowrap -------------*/
.space>li {
    width: 150px;
    border: 1px solid green;
    margin-bottom: 10px;
/* pre: 개발자가 코딩한데로 줄바꿈 발생 */
}
.space>li:nth-child(2) {
    white-space: pre;
}
/* nowwrap: 줄바꿈 하지 않음 */
.space>li:nth-child(3) {
    white-space: nowrap;
}
/* ------text-overflow: clip, ellipsis --------- */
.overflow>li {
    width: 150px;
    height: 20px;
    border: 1px solid blue;
    margin-bottom: 10px;
}
.overflow>li:nth-child(1) {
    text-overflow: clip;
    overflow: hidden;
}
.overflow>li:nth-child(3) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* ------multiple column: column count, gap, rule --------- */
.multiple {
    column-count: 5;
    column-gap: 50px;
    column-rule: 5px dotted red;
}